<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="table.css"/>
    <title>Patients app</title>
</head>
<body>
<div class="container">
    <div class="centered">
        <a href="/addclinic">
            <Button class="fixed">Dodaj klinikę</Button>
        </a>
    </div>
    <div class="centered">
        <a href="/addpatient">
            <Button class="fixed">Dodaj pacjenta</Button>
        </a>
    </div>
    <div class="centered">
        <a href="/showpatients">
            <Button class="fixed">Pokaż wszystkich pacjentów</Button>
        </a>
    </div>

</div>

</body>
</html>